{% extends "HOME/base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" class="es-content" align="center">
    <tr>
      <td align="center" style="background-color: #efefef" bgcolor="#efefef">
      <table bgcolor="transparent" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="900" style="border-width: 10px;border-style: solid;border-color: transparent;background-color: transparent">
        <tr>
          <td class="es-p20t es-p20r es-p10l" align="left">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="852" align="center" valign="top">
              <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
                <tr>
                  <td align="left" class="es-p40r"><h1 style="font-family: 'merriweather sans', 'helvetica neue', helvetica, arial, sans-serif;text-align: left;color: #333333;line-height: 120%">Log <span style="color:#e69138">In</span></h1><p style="color: #000000"><br></p></td>
                </tr>
                <tr>
                  <td align="center" class="es-p5" style="font-size:0">
                  <table border="0" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                    <tr>
                      <td style="border-bottom: 1px solid #cccccc;background: unset;height:1px;width:100%;margin:0px 0px 0px 0px"></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
        <tr>
          <td class="es-p15t es-p10b es-p20r es-p20l" align="left" style="background-color: transparent" bgcolor="transparent">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="842" align="center" valign="top">
              <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
                <tr class="es-visible-amp-html-only">
                  <td align="left">
                  <!--FORM START-->
                  <form id="form-1688739984980" method="POST">
                    {% csrf_token %}
                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                      <td align="left" valign="top">
                        {{ form.non_field_errors }}
                        <div class="fieldWrapper">
                            {{ form.username.errors }}
                            <label for="Username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="fieldWrapper">
                            {{ form.password.errors }}
                            <br><label for="Password">Password</label>
                            {{ form.password }}
                        </div>
                        <tr>
                          <td align="left" class="es-p10"><br><span class="es-button-border msohide" style="background: #e69138"><button type="submit" class="es-button" style="background: #e69138;mso-border-alt: 10px solid #e69138">Login</button></span></td>
                        </tr>
                      </td>
                    </table>
                  </form>
                  <div class="border-top pt-3">
                      <small class="test-muted">Need an Account? <a class="ml-2" href="/contactAdminPage/">Contact Admin</a></small>
                  </div>
                  <!--FORM END-->
                </tr>
              </table></td>
            </tr>
          </table></td>
        </tr>
  <tr>
    <td class="es-p40b es-p20r es-p20l" align="left">
    <table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td width="842" align="center" valign="top">
    <table cellpadding="40" cellspacing="0" width="100%">
      <tr>
        <td align="center" style="display: none"></td>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </tr>
    </table></td>
  </tr>
  </table></td>
  </tr>
  </table></td>
  </tr>
  </table>
  {% endblock content %}