{% extends "MADI/base.html" %}
{% block content %}
<table cellpadding="0" cellspacing="0" class="es-content" align="center">
  <tr>
    <td align="center" style="background-color: #efefef" bgcolor="#efefef">
    <table bgcolor="transparent" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="900" style="border-width: 10px;border-style: solid;border-color: transparent;background-color: transparent">
      <tr>
        <td class="es-p20t es-p20r es-p10l" align="left">
        <table cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="852" align="center" valign="top">
            <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
              <tr>
                <td align="left" class="es-p80r"><h1 style="font-family: 'merriweather sans', 'helvetica neue', helvetica, arial, sans-serif;text-align: left;color: #333333;line-height: 120%">potential <span style="color:#e69138">ROED(s)</span><span style="color:#333333;text-align: top;font-size: 50%">&emsp;&emsp;&emsp;&emsp;extracted PN(s): {{  affected  }}</span></h1><p style="color: #000000"></p><br></td>
              </tr>
              <tr>
                <td align="center" class="es-p5" style="font-size:0">
                <table border="0" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                  <tr>
                    <td style="border-bottom: 1px solid #cccccc;background: unset;height:1px;width:100%;margin:0px 0px 0px 0px"></td>
                  </tr>
                  {% for potROED in potROEDs %}
                  <tr>
                    <td align="left" class="es-p10"><br><h3 style="color:#e69138">{{ potROED.caseNo }}&nbsp;&nbsp;&nbsp;<span style="color:#333333">Part Number(s): {{ potROED.partNos }}</span></h3></td>
                  </tr>
                  <tr>
                    <td align="left" class="es-p10"><br><p>{{ potROED.keyWords }}</p></td>
                  </tr>
                  {% endfor %}   
                  <tr>
                    <td style="border-bottom: 1px solid #cccccc;background: unset;height:1px;width:100%;margin:0px 0px 0px 0px"><br></td>
                  </tr>
                  <tr><td style="padding-bottom:10px"><br></td></tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        <tr>
          <td class="es-p20r es-p10l" align="left">
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td width="852" align="center" valign="top">
              <table cellpadding="0" cellspacing="0" width="100%" role="presentation">
                <td align="left" valign="top">
                <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                  <td align="left" valign="top" class="es-p10"><br><span class="es-button-border msohide" style="background: #e69138"><a href="{% url 'MADI-createERF' %}" class="es-button" style="background: #e69138;mso-border-alt: 10px solid #e69138" download>Create New ERF</a></span></td>
                  {% if dart %}
                  <tr>
                    <td align="left" class="es-p10"><br><span class="es-button-border msohide" style="background: #e69138"><a href="{% url 'MADI-createDART' %}" class="es-button" style="background: #e69138;mso-border-alt: 10px solid #e69138" download>Create DART form</a></span></td>
                  </tr>
                    {% endif %}
                  <form id="form-1688739984980" method="POST" action="{% url 'MADI-createERF' %}" enctype="multipart/form-data">
                  {% csrf_token %}
                </td>
                </table>
                <td align="right">
                <table width="50%" cellspacing="0" cellpadding="0" role="presentation">
                  <div class="fieldWrapper">
                    <br><label for="ERFFile">Drop file or click below to upload ERF.</label><br>
                    <br><input type="file" name="ERFFile" class="dropzone dz"/>
                  </div>
                  <tr>
                    <td align="right" class="es-p10"><br><span class="es-button-border msohide" style="background: #e69138"><button type="submit" class="es-button" style="background: #e69138;mso-border-alt: 10px solid #e69138">Create ROED ERF</button></span></td>
                  </tr>
                </td>
                </table>
                  </form>
              </table></td>
            </tr>
          </table></td>
        </tr>
      </tr>
    </table></td>
  </tr>
</table>
{% endblock content %}